<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="">About</h4>
        <p class="awesome-link-colors">My nav bar header isn't working properly and that makes me sad. <%=fa_icon "frown-o"%></p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-black">Explore</h4>
        <ul class="list-unstyled">
        <%= nav_helper 'awesome-link-colors', 'li' %>
          <li><%=login_helper 'awesome-link-colors'%></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">Victor Laucas</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars bars"></span>
    </button>
  </div>
</div>

