<h1>About Me</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "http://i2.cdn.cnn.com/cnnnext/dam/assets/161201161116-83-year-in-pictures-2016-restricted-super-169.jpg", width: 300, alt: "pofile pic" %>
  </div>

  <div class="col-md-8">
    
  </div>
  <p>Just trying to be a sucessful dev</p>

</div>

