<h1>About Me</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "victor.JPG", width: 300, alt: "pofile pic" %>
  </div>

  <div class="col-md-8">
    
  </div>
  <p>Just trying to be a sucessful dev</p>

</div>

