// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border: 1px black solid;
}

td {
  padding: 10px;
}